.link {
  color: var(--link-color);

  & article {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--link-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  & svg {
    margin-right: 0.5rem;
    cursor: url("/images/cursor-pointer.png"), auto;
  }

  & a {
    display: block;
    width: fit-content;
    cursor: url("/images/cursor-pointer.png"), auto;
  }
}

.headerWithLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4rem;

  & h2 {
    margin: 0;
    padding-left: 0.5rem;
  }
}
