@use "./app/variables" as *;

.educationSection {
  padding: 0.5rem !important;
}

.openCertificateButton {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--link-color);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  margin-bottom: 1rem;

  // Reset button styles
  border: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;

  &:hover {
    background-color: var(--link-hover-color);
    cursor: url("/images/cursor-pointer-new.svg") 16 16, pointer;
  }
}

.modalImage {
  max-width: 100%;
  max-height: calc(95vh - 80px);
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}

.educationList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;

  .educationItem {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 6fr;
    min-height: 150px;
    border-left: 1px solid var(--fancy-blue);

    & h2 {
      color: var(--white-text-color);
      margin: 0;
      text-align: left;
    }

    & .date {
      background-color: var(--fancy-blue);
      border-radius: 8px;
      color: #fff;
      padding: 0 0.3rem;
    }

    & .educationIcon {
      position: absolute;
      top: -15px;
      left: -25px;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
