.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 20px;
  cursor: url("/images/cursor-pointer-new.svg") 16 16, pointer;
  z-index: 5;

  span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 3px;
    transition: all 0.35s ease-in-out;
  }

  &.open span:nth-child(1) {
    transform: rotate(45deg) translateY(12px);
  }

  &.open span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-12px);
  }
}
