.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--background);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.link {
  font-size: 2rem;
  color: var(--text);
  text-decoration: none;
  transition: transform 0.2s ease;
  cursor: url("/images/cursor-pointer-new.svg") 16 16, pointer;

  &:hover {
    transform: scale(1.05);
  }
}
