@use "./app/variables" as *;

.downloadButton {
  color: var(--text-color);
  border: none;
  cursor: url("/images/cursor-pointer-new.svg") 16 16, pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);

  @media (max-width: $laptop) {
    padding-left: 0;
    padding-right: 0.5rem;
    border-left: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    color: var(--text-color);
    background-color: var(--background);
    border: none;
    cursor: url("/images/cursor-pointer-new.svg") 16 16, pointer;
    font-size: initial;
  }
}

.downloadIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
